.portifolio__about {
    background: #b9c3f8;
    display: flex;
    padding: 5rem 0;
  
    .portifolio__about-imagem {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 90%;
        max-width: 1000px;
        padding: 3rem;
      }
    }

    
  }
  
.portifolio__about-infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 2rem;

  h1{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 1rem;
  }

  h3{
    font-weight: 300;
    line-height: 1px;
    margin-bottom: 7rem;
  }

  p{
    line-height: 30px;
    letter-spacing: 1px;
  }
  
  a{
    width: fit-content;
    cursor: default;
   }

  .portifolio__about-buttons{
    display: flex;

    .portifolio__about-buttonCV{
      @extend .button;
      border-radius: 30px 0 0 30px;
    }

    .portifolio__about-buttonContato{
      @extend .button;
      border-radius: 0px 30px 30px 0;
    }


  }
}
.button {
  margin-top: 50px;
  padding: 1rem 4rem;
  font-size: 20px;
  white-space: nowrap;

  border: 1px solid rgb(0, 0, 0);
  outline: none;
   
  background: transparent;
  color: black;
   
  cursor: pointer;
  transition: background-color 0.5s ease;
}
 
.button:hover {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(88, 88, 234);
  color: white;
}

@media screen and (max-width: 1000px) {
  .portifolio__about{
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;

      .portifolio__about-imagem {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 90%;
          max-width: 500px;
          padding: 3rem;
        }
      }
  }

      
  .portifolio__about-infos {

    h1{
      font-weight: 900;
      font-size: 32px;
      margin-bottom: 1rem;
    }

    h3{
      font-weight: 300;
      line-height: 1px;
      margin-bottom: 7rem;
    }

    p{
      line-height: 25px;
      letter-spacing: 0.7px;
    }
    
    }

    .portifolio__about-buttons{
      display: flex;
      justify-content: center;
    }
}


@media screen and (max-width: 500px) {
  .portifolio__about-infos{
    width: 90%;
    margin: 4rem;
  }

  .button {
    margin-top: 50px;
    padding: 1rem 3rem;
    font-size: 15px;
    white-space: nowrap;
  
    border: 1px solid rgb(0, 0, 0);
    outline: none;
     
    background: transparent;
    color: black;
     
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
}