.portifolio__header{
    display: flex;
    justify-content: space-between;
    align-items:flex-end ;
    overflow: hidden;
    font-family: var(--font-family);
    margin-top: 4rem;
    
    img{
        flex: 1.5;
        opacity: 0.8;
        object-fit: contain;
        width: 90%;
    }
}

.portifolio__header-content{
    flex: 1;
    color: white;
    flex-direction: column;
    padding: 10rem 5rem;
    
    h3{
        font-size: 35px;
        font-weight: 100;
        line-height: 20px;
        margin-bottom: 15px;
    }
    
    h1{
        line-height: 80px;
        font-weight: 900;
        font-size: 70px;
        margin-bottom: 70px;
    }
    
    p{
        text-align: justify;
        font-weight: 200;
        width: 100%;
        
        b{
            font-weight: 900;
        }
    }
}

.portifolio__header-icones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.portifolio__header-icon{
    cursor: pointer;
    margin: 15px;
    font-size: 60px;
    padding: 10px;
    background: #080227;
    border-radius: 50%;
    transition: .4s;
    opacity: 0.6;
}

.portifolio__header-icon:hover{
    color: #171762;
    background: white;
    opacity: 1;
}
