*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

a{
  text-decoration: none;
  color: unset;
}

.linear__bg{
  background: linear-gradient(151deg, #1d1b97 0%, #090029 70%, #54017d 100%); 
}

.app{
    /* global 94%+ browsers support */
  height:700px;
}