*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

a{
  text-decoration: none;
  color: unset;
}

.linear__bg{
  background: linear-gradient(151deg, #171575 0%, #090029 70%, #3e015c 100%); 
}
